<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({
             google_ad_client: "ca-pub-8582870355456408",
             enable_page_level_ads: true
         });
    </script>
    <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
         ga('create', 'UA-91387936-1', 'auto');
         ga('send', 'pageview');
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>{{title}}</title>

    {{#each cssPaths}}
        <link rel="stylesheet" href="{{this}}">
    {{/each}}

    {{#each appleTouchIcons}}
        <link rel="apple-touch-icon" sizes="{{this.size}}" href="{{this.path}}">
    {{/each}}
    {{#each icons}}
        <link rel="icon" type="image/png" sizes="{{this.size}}" href="{{this.path}}">
    {{/each}}
    <link rel="manifest" href="../public/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>


<body class="bhn">

<div class="cd fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="biz" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="d">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title">Messages</h5>
                <p id="chat-username" style="margin-bottom: 0; color: grey; font-weight: 400; text-align: center"></p>
                <p class="hidden-chat" id="chat-id"></p>
                <p class="hidden-chat" id="chat-photo"></p>
                <p class="hidden-chat" id="chat-socket-id"></p>
            </div>

            <div class="modal-body aah js-modalBody">
                <div class="ari" id="chat-body">
                    <div class="uf cj ca" id="chat-list">

                    </div>

                    <div class="hidden-chat zm js-conversation">
                        <ul class="uf bim" id="chat-messages">

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="cd fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="bja" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="d">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Connection Requests</h4>
            </div>

            <div class="modal-body aah">
                <div class="ari">
                    <ul class="uf cj ca" id="invitationRequests">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="bia" id="app-growl"></div>

<nav class="ck ra rg vt app-navbar">
    <div class="by">
        <div class="bhs">
            <button class="re aqi xw" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            </button>
            <a class="e" href="/">
                <img src="./images/logo/logo.png" alt="brand" style="width: 25px">
            </a>
        </div>
        <div class="collapse ri" id="navbarResponsive">
            <ul class="nav navbar-nav">
                <li class="qu">
                    <a class="qs" href="/">Home <span class="yk">(current)</span></a>
                </li>
                <li class="qu active">
                    <a class="qs" href="/profile?uid={{uid}}">Profile</a>
                </li>
                <li class="qu">
                    <a class="qs" data-toggle="modal" href="#msgModal">Messages</a>
                </li>
                <li class="qu">
                    <a class="qs" data-toggle="modal" href="#requestModal">Requests<span class="badge" id="invitationRequestCount"></span></a>
                </li>

                <li class="qu aqi">
                    <a class="qs" id="notificationLink" href="/notifications">Notifications<span class="badge" id="notificationCount"></span></a>
                </li>
                <li class="qu aqi">
                    <a class="qs" href="#blog" onclick="openBlog(this)">Blog</a>
                </li>
                <li class="qu aqi">
                    <a class="qs" href="#jobs" onclick="openJobs(this)">Jobs</a>
                </li>
                <li class="qu aqi">
                    <a class="qs" href="#account-settings" onclick="openAccountSettings(this)">Account Settings</a>
                </li>
                <li class="qu aqi">
                    <a class="qs" href="/logout" onclick="clearIndexedDB()">Logout</a>
                </li>

            </ul>

            <ul id="#js-popoverContent" class="nav navbar-nav xw yt aqh">
                <li class="qu">
                    <a id="notificationLinkSymbol" class="g qs" href="/notifications">
                        <span class="h atk"></span><span class="badge" id="notificationCountSymbol"></span>
                    </a>
                </li>
                <li class="qu">
                    <button class="cg bix biy bhu" data-toggle="popover" data-original-title="" title="">
                        <img class="wj" src="{{photoURL}}" id="profilePicImageTopbar">
                    </button>
                </li>
            </ul>
            <form class="pb xw aqh" id="bloodhound">
                <input class="form-control typeahead" type="text" placeholder="Search" autocomplete="off">
            </form>

            <ul class="nav navbar-nav aqe" id="js-popoverContent">
                <li class="qu"><a class="qs" href="#blog" onclick="openBlog(this)">Blog</a></li>
                <li class="qu"><a class="qs" href="#jobs" onclick="openJobs(this)">Jobs</a></li>
                <li class="qu"><a class="qs" href="#account-settings" onclick="openAccountSettings(this)">Account Settings</a></li>
                <li class="qu"><a class="qs" href="/logout" onclick="clearIndexedDB()">Logout</a></li>
            </ul>
        </div>
    </div>

</nav>


<div class="bid" style="background-image: url(./images/profile/iceland.jpg);">
    <div class="by">
        <div class="bie">
            <img class="wj ud" src="{{photoURL}}" data-action="zoom" id="profilepicImage">
            <h3 class="big">{{title}}</h3>
            <p class="bif">{{profession}}</p>
            <button class="file-upload cg pm pv">
                <input type="file" class="file-input" id="uploadProfilePhoto">Update Profile Picture
            </button>
            <button class="cg pr pv xw" id="removeProfilePhoto">Remove Profile Picture</button>
            <div id="profilePhotoMessage"></div>
        </div>
    </div>

    <nav class="bih">
        <ul class="nav qv">
            <li class="qu" onclick="showBlog(this)" id="blog">
                <a class="qs" href="#blog">Blog</a>
            </li>
            <li class="qu" onclick="showJobs(this)" id="jobs">
                <a class="qs" href="#jobs">Jobs</a>
            </li>
            <li class="qu" onclick="showAccountSettings(this)" id="account-settings">
                <a class="qs" href="#account-settings">Account Settings</a>
            </li>
        </ul>
    </nav>
</div>

<div class="by zz hidden-chat" id="active-content">

</div>


<div id='indeed_widget_wrapper' style='' class="by zz hidden-chat">

    <form style="width: 100%; height: 100%; position: relative" onsubmit='clearDefaults(0);runSearch(0);return false;' method='get' class='indeed_jobform form-group' target="_new">
        <table class="form-group" style="margin: 0 auto; position: relative; width: 100%">
            <tr style="position: relative">
                <td>Job Title, Keywords or Company Name : </td>
                <td><input type='text' onfocus='this.value=""' name='q' class='form-control'></td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>City Or State : </td>
                <td><input type='text' onfocus='this.value=""' name='l' class='form-control'></td>
            </tr>
            <tr><td><br></td></tr>
            <tr style="position: relative"><td><button type="submit" class="cg pf findjobs">Find Jobs</button></td></tr>
        </table>
    </form>

    <br/><br/>

    <div id='indJobContent' class=""></div>

    <form style="width: 100%; height: 100%; position: relative" onsubmit='clearDefaults(1);runSearch(1);return false;' method='get' class='indeed_jobform form-group hidden-chat' target="_new">
        <table class="form-group" style="margin: 0 auto; position: relative; width: 100%">
            <tr style="position: relative">
                <td>Job Title, Keywords or Company Name : </td>
                <td><input type='text' onfocus='this.value=""' name='q' class='form-control'></td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>City Or State : </td>
                <td><input type='text' onfocus='this.value=""' name='l' class='form-control'></td>
            </tr>
            <tr><td><br></td></tr>
            <tr style="position: relative"><td><button type="submit" class="cg pf findjobs">Find Jobs</button></td></tr>
        </table>
    </form>

    <div id='indeed_link'>
        <a title="Job Search" href="https://www.indeed.co.in/?indpubnum=6840469190420020" rel="nofollow" target="_new">jobs by
            <img alt=Indeed src='https://www.indeed.com/p/jobsearch.gif' style='border: 0;vertical-align: bottom;'>
        </a>
    </div>
</div>




<div class="cd fade" id="saveSettingsModal" tabindex="-1" role="dialog" aria-labelledby="biz" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="d">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title">Save Settings</h5>
            </div>
            <div class="modal-body aah">
                <div class="ari">
                    <div class="uf cj ca">
                        <div class="b tx">
                            <p>Are you sure you want to save these changes?</p>
                            <div class="ty">
                                <button class="cg pv xw pl" data-dismiss="modal" style="margin-left: 5px">Cancel</button>
                                <button class="cg pv xw pj" id="save-settings">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cd fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="biz" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="d">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title">Delete Account</h5>
            </div>
            <div class="modal-body aah">
                <div class="ari">
                    <div class="uf cj ca">
                        <div class="b tx">
                            <p>Are you sure you want to permanently delete this account?</p>
                            <div class="ty">
                                <button class="cg pv xw pf" data-dismiss="modal" style="margin-left: 5px">I've changed my mind.</button>
                                <button class="cg pv xw pl" id="delete-account">Delete Account</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#each jsPaths}}
    <script type="text/javascript" src="{{this}}"></script>
{{/each}}

</body>
</html>
