<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    {{#each cssPaths}}
        <link rel="stylesheet" href="{{this}}">
    {{/each}}

    {{#each appleTouchIcons}}
        <link rel="apple-touch-icon" sizes="{{this.size}}" href="{{this.path}}">
    {{/each}}
    {{#each icons}}
        <link rel="icon" type="image/png" sizes="{{this.size}}" href="{{this.path}}">
    {{/each}}
    <link rel="manifest" href="../public/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h2>JobsCreed</h2>
        <h1 style="font-size: 45px">Reset Password</h1>
    </div>
    <div id="result"></div>
    <div role="form">
        <div class="form-group">
            <label for="password">Password :</label>
            <input type="password" class="form-control" id="password" onchange="checkP()" required><small id="passwordMessage" style="color: red; display: inline"></small>
        </div>
        <div class="form-group">
            <label for="cpassword">Confirm Password :</label>
            <input type="password" class="form-control" id="cpassword" onchange="checkP()" required><small id="cpasswordMessage" style="color: red; display: inline"></small>
        </div>
        <button type="submit" class="btn btn-default" id="resetPassword">Reset Password</button>
        <a class="btn btn-info" href="/index">Back</a>
    </div>
</div>

{{#each jsPaths}}
    <script type="text/javascript" src="{{this}}"></script>
{{/each}}
</body>
</html>
