<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    {{#each cssPaths}}
        <link rel="stylesheet" href="{{this}}">
    {{/each}}

    {{#each appleTouchIcons}}
        <link rel="apple-touch-icon" sizes="{{this.size}}" href="{{this.path}}">
    {{/each}}
    {{#each icons}}
        <link rel="icon" type="image/png" sizes="{{this.size}}" href="{{this.path}}">
    {{/each}}
    <link rel="manifest" href="./favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }
    </style>

</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h2>JobsCreed</h2>
            <h1 style="font-size: 45px">Account Verification</h1>
            <br><br>
            <h3 id="result"><p class='alert {{alertClass}}'><i class='fa {{faClass}}' aria-hidden='true'></i> {{output}}</p></h3>
        </div>
        <a class="btn btn-info btn-lg" href="/index">Back</a>
    </div>

    {{#each jsPaths}}
        <script type="text/javascript" src="{{this}}"></script>
    {{/each}}
</body>
</html>
